{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
}}
{{!
    @template mod_moochat/chat_interface

    MooChat chat interface template.

    Context variables required for this template:
    * moochatid - The ID of the moochat instance
    * name - The name of the moochat
    * avatarurl - URL to the avatar image (optional)
    * avatarsize - Size of the avatar in pixels
    * sizeclass - CSS class for chat size (moochat-size-small/medium/large)
    * startchat - Language string for "start chat"
    * typemessage - Language string for "type message"
    * send - Language string for "send"
    * clear - Language string for "clear"

    Example context (json):
    {
        "moochatid": 1,
        "name": "My AI Assistant",
        "avatarurl": "http://example.com/avatar.png",
        "avatarsize": 128,
        "sizeclass": "moochat-size-medium",
        "startchat": "Start chatting with the AI assistant!",
        "typemessage": "Type your message here...",
        "send": "Send",
        "clear": "Clear Chat"
    }
}}
<div class="moochat-activity-container">
    {{#avatarurl}}
    <div class="moochat-sidebar">
        <div class="moochat-avatar-large">
            <img src="{{{avatarurl}}}" alt="{{name}}" width="{{avatarsize}}" height="{{avatarsize}}">
        </div>
        <h3 class="moochat-sidebar-title">{{name}}</h3>
        <div class="moochat-remaining-sidebar" id="moochat-remaining-{{moochatid}}"></div>
    </div>
    {{/avatarurl}}
    
    <div class="moochat-chat-area">
        <div class="moochat-interface {{sizeclass}}" id="moochat-{{moochatid}}" data-osce-mode="{{osce_mode}}" data-session-time-limit="{{sessiontimelimit}}"
    data-max-messages="{{maxmessages}}">
            <div class="moochat-messages" id="moochat-messages-{{moochatid}}">
                <p class="moochat-welcome">{{startchat}}</p>
            </div>
            <div id="moochat-osce-timer-{{moochatid}}" class="moochat-osce-timer" style="display:none;"></div>
            <div class="moochat-input-area">
                <textarea id="moochat-input-{{moochatid}}" class="moochat-input" placeholder="{{typemessage}}" rows="3"></textarea>
                
                <div class="moochat-buttons">
                    <button id="moochat-send-{{moochatid}}" class="btn btn-primary moochat-send">{{send}}</button>
                    <button id="moochat-clear-{{moochatid}}" class="btn btn-secondary moochat-clear">{{clear}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
